<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TziporahStore.Properties.Settings.DBModel_ContextConnectionString"
            connectionString="Data Source=SBT-PC1\SQLEXPRESS;Initial Catalog=DBModel.Context;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TziporahStore.Properties.Settings.TziporahStoreConnectionString"
            connectionString="Data Source=SBT-PC1\SQLEXPRESS;Initial Catalog=TziporahStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>